<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./main.css">
    <title>Document</title>
</head>
<body>
    <h1 class="text-danger text-center">Sorry, submission failed!</h1>

    <% errors.forEach(function(error) { %>
        <h2 class='text-center'><%= error %></h2>
    <% }) %>
</body>
</html>

