<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./main.css">
    <title>Document</title>
</head>
<body>
    <h1>Congrats! You are successfully submitted info to server!</h1>
    <h2 class='text-green'>Encrypted title: <%= result.name %></h2>
    <h2 class='text-green'>Encrypted content: <%= result.paragraph %></h2>
</body>
</html>


